<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>@MOUFFETTE_EXECUTABLE_NAME@</string>
    <key>CFBundleIdentifier</key>
    <string>@MOUFFETTE_BUNDLE_IDENTIFIER@</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIconFile</key>
    <string>@MOUFFETTE_MACOS_ICON_FILE@</string>
    <key>CFBundleName</key>
    <string>@MOUFFETTE_APPLICATION_NAME@</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>@PROJECT_VERSION@</string>
    <key>CFBundleVersion</key>
    <string>@PROJECT_VERSION@</string>
    <key>LSMinimumSystemVersion</key>
    <string>@CMAKE_OSX_DEPLOYMENT_TARGET@</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSScreenCaptureUsageDescription</key>
    <string>Mouffette shares the live content of your screens with connected clients when you enable screen sharing.</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025 Mouffette. All rights reserved.</string>
    <key>CFBundleDisplayName</key>
    <string>@MOUFFETTE_APPLICATION_NAME@</string>
    <key>LSUIElement</key>
    <true/>
</dict>
</plist>
